body {
  display: flex;
  background-image: url(./space-bg.jpeg);
  font-family: 'Trebuchet MS';
  background-size: auto;
}
h1 {
  text-align: center;
  margin: 0px;
}
h2 {
  margin: 4px;
}
p {
  margin: 4px
}
.pill {
  margin: 16px;
  background-color: rgba(40, 40, 40, 0.7);
  padding: 8px;
  border-radius: 8px;
  font-weight:bold;
  cursor: pointer;
  color: #fff;
}
.softpill {
  margin: 16px;
  background-color: rgba(40, 40, 40, 0.7);
  padding: 8px;
  border-radius: 8px;
  font-style: italic;
  cursor: pointer;
  color: #fff;
}
.topbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
   display: flex;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  gap: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.window {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  order:solid;
  width:320px;
  border-radius:16px;
  padding:4px;
  border-style: groove;
  display: flex;
  flex-direction: column;
}
.close {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  background-color: #cf142b;
  border-radius: 6px;
}
.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
}
.windowbody{
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}
.smim {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 16px;
  margin: 4px;
}
.emptyclose{
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
.pill-windowhead {
  margin-bottom: 4px;
  margin-top: 0px;
  background-color: rgba(40, 40, 40, 0.7);
  padding: 8px;
  border-radius: 8px;
  font-weight:bold;
  color: #fff;
}